# Journaux
Journaux
*..log
npm-debug.log*
yarn-debug.log*
erreur de fil.log*
lerna-debug.log*
.pnpm-debug.log*

# Rapports de diagnostic (https://nodejs.org/api/report.html)
rapport. [0-9] *. [0-9] *. [0-9] *. [0-9] *.json

# Données d’exécution
PIDS
*.Pid
*.Graines
*.pid.lock

# Répertoire des bibliothèques instrumentées générées par jscoverage/JSCover
lib-cov

# Répertoire de couverture utilisé par des outils comme istanbul
couverture
*.lcov

# Couverture du test NYC
.nyc_output

# Stockage intermédiaire Grunt (https://gruntjs.com/creating-plugins#storing-task-files)
.grogner

# Répertoire de dépendance Bower (https://bower.io/)
bower_components

# configuration node-waf
.lock-wscript

# Addons binaires compilés (https://nodejs.org/api/addons.html)
Build/Release

# Répertoires de dépendances
node_modules/
jspm_packages/

# Répertoire de dépendance du manteau neigeux (https://snowpack.dev/)
web_modules/

# Cache TypeScript
*.tsbuildinfo

# Répertoire de cache npm facultatif
.npm

# Cache eslint facultatif
.eslintcache

# Cache stylelint facultatif
.stylelintcache

# Cache de microbundle
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Historique REPL facultatif
.node_repl_history

# Sortie du 'npm pack'
*.tgz

# Fichier d’intégrité du fil
.yarn-integrity

# fichiers de variables d’environnement dotenv
.Env
.env.développement.local
.env.test.local
.env.production.local
.env.local

# cache parcellaire-bundler (https://parceljs.org/)
.cache
.parcel-cache

# Ensuite.js sortie de build
.prochain
dehors

# Nuxt.js construire / générer de la sortie
.nuxt
Dist

# Fichiers Gatsby
.cache/
# Commentez dans la ligne publique si votre projet utilise Gatsby et non Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# Sortie de build VuePress
.vuepress/dist

# vuepress v2.x temp and cache directory
.temp
.cache

# Docusaurus cache and generated files
.docusaurus

# Répertoires sans serveur
.sans serveur/

# Cache FuseBox
.fusebox/

# Fichiers locaux DynamoDB
.dynamodb/

# Fichier de port TernJS
.tern-port

# Stocke les versions de VSCode utilisées pour tester les extensions VSCode
.vscode-test

# fil v2
.yarn/cache
.yarn/débranché
.yarn/build-state.yml
.yarn/état_installation.gz
.Pnp.*
# vim
*~
*#
